.btn {
    background-color:pink;
    color: black;
    transition-duration: 0.4s;
    border: 2px solid black;
  }
.btn:hover{
    background-color:rgba(120, 217, 241, 0.5);
    color: white;
    border: 2px solid white;
}

div{
    background-color:pink;    
}
  
.intro .intro-img{
    height:750px;
    width:600px;
    float:middle   
}
.text-faded{
    color:black;

}

.cta-inner{
    background-color: white;
}

.section-heading{
    background-color:white;
}
.intro-text{
    background-color: white;
}
.m-b0{
    background-color:white;
}

.bg-faded{
    background-color: white;
}

